.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.starter-class {
  @extend .centered;
  height: 80vh;

  span {
    font-size: 4em;
  }
}

.sub-info {
  @extend .centered;
  height: 100px;
  position: relative;
  margin-top: -40vh;
}
