#container {
  .starter-class {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-family: sans-serif;
      font-size: 4em;
    }
  }
}

.sub-info {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -40vh;

  span {
    font-family: sans-serif;
  }
}
